### Introduction to TFIDF
This is a robust method that will be able to understand the context of a text. It is used to  find realted content and important words and phrases in a larger text.
### In Brief
#### Term Frequency
This is the measure of a word w in a document (text) d
#### Inverse Document Frequency (IDF)
Gives a  numeric vlaue of the importance of a word

In [48]:
import pandas as pd
import string
import re
import nltk
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer

In [101]:
text=["kolkata big city india trade","mumbai financial capital india","delhi capital india","kolkata capital colonial times",
     "bangalore tech hub india software","mumbai hub trade commerce stock exchange","kolkata victoria memorial","delhi india gate",
      "mumbai gate way india trade business","delhi red fort india","kolkata metro oldest india",
      "delhi metro largest metro network india"]

In [104]:
# making a count object
count = CountVectorizer()
word_count = count.fit_transform(text)
print(word_count)
print(word_count.shape)

  (0, 14)	1
  (0, 1)	1
  (0, 4)	1
  (0, 13)	1
  (0, 26)	1
  (1, 13)	1
  (1, 18)	1
  (1, 9)	1
  (1, 3)	1
  (2, 13)	1
  (2, 3)	1
  (2, 7)	1
  (3, 14)	1
  (3, 3)	1
  (3, 5)	1
  (3, 25)	1
  (4, 13)	1
  (4, 0)	1
  (4, 24)	1
  (4, 12)	1
  (4, 22)	1
  (5, 26)	1
  (5, 18)	1
  (5, 12)	1
  (5, 6)	1
  :	:
  (6, 14)	1
  (6, 27)	1
  (6, 16)	1
  (7, 13)	1
  (7, 7)	1
  (7, 11)	1
  (8, 13)	1
  (8, 26)	1
  (8, 18)	1
  (8, 11)	1
  (8, 28)	1
  (8, 2)	1
  (9, 13)	1
  (9, 7)	1
  (9, 21)	1
  (9, 10)	1
  (10, 14)	1
  (10, 13)	1
  (10, 17)	1
  (10, 20)	1
  (11, 13)	1
  (11, 7)	1
  (11, 17)	2
  (11, 15)	1
  (11, 19)	1
(12, 29)

In [105]:
print(word_count.toarray())

[[0 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0]
 [0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0]
 [0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1]
 [0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 2 0 1 0 0 0 0 0 0 0 0 0]]

In [106]:
# using the IDF transformer
transfomer = TfidfTransformer(smooth_idf=True, use_idf=True)
transfomer.fit(word_count)
df_idf = pd.DataFrame(transfomer.idf_, index=count.get_feature_names(), columns= ['idf_weights'])

In [107]:
#inverse document frequency
df_idf.sort_values(by=['idf_weights'])

           idf_weights
india         1.262364
kolkata       1.955511
delhi         1.955511
trade         2.178655
capital       2.178655
mumbai        2.178655
gate          2.466337
hub           2.466337
metro         2.466337
times         2.871802
tech          2.871802
stock         2.871802
software      2.871802
red           2.871802
oldest        2.871802
network       2.871802
bangalore     2.871802
largest       2.871802
victoria      2.871802
fort          2.871802
financial     2.871802
exchange      2.871802
commerce      2.871802
colonial      2.871802
city          2.871802
business      2.871802
big           2.871802
memorial      2.871802
way           2.871802

In [108]:
# TF-IDF transformation
tf_idf_vector = transfomer.transform(word_count)
feature_names = count.get_feature_names()

In [112]:
document_vector  = tf_idf_vector[1]
df_tfidf  = pd.DataFrame(document_vector.T.todense(), 
                         index = feature_names, columns=["tfidf"]
                        )
df_tfidf.sort_values(by = ['tfidf'], ascending= False)

              tfidf
financial  0.653123
capital    0.495483
mumbai     0.495483
india      0.287095
bangalore  0.000000
memorial   0.000000
victoria   0.000000
trade      0.000000
times      0.000000
tech       0.000000
stock      0.000000
software   0.000000
red        0.000000
oldest     0.000000
network    0.000000
metro      0.000000
kolkata    0.000000
largest    0.000000
big        0.000000
hub        0.000000
gate       0.000000
fort       0.000000
exchange   0.000000
delhi      0.000000
commerce   0.000000
colonial   0.000000
city       0.000000
business   0.000000
way        0.000000